<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>报表下载——金吉列</title>
</head>
<body>
	#set($baseurl=$request.getContextPath())
    <p>关键词每日报表  <a href="$baseurl/job/toJobs.do?pageNo=1">下载任务</a> <a href="$baseurl/report/rexecute.do">生成日报</a></p>
	#foreach($fileName in $fileNames)
        <a href="$baseurl/report/$fileName">$fileName</a><br>
	#end
</body>
</html>